<div id="<%= dom_id movie %>">
  <div style="column-container">
    <div class="flex-items">
      <%= image_tag(movie.poster, class: "message-image", size: "300") %>
    </div>

    <div class="flex-items">
    <strong>
      <%= movie.title %>
    </strong>
    </div>
  </div>
</div>
